body{
    
    background-color: #0096c7;
}
.form-control{
    background-color: #caf0f8;
    border-radius: 5px;
    height: 200px;
    resize: none;

}
.form-control:focus{
    background-color: #caf0f8;
    border-radius: 5px;
    height: 200px;
}

.bslib-sidebar-layout>.sidebar{
    background-color: #0077b6;
    border-radius: 5px;
}
.navbar>.container-fluid{
    background-color: rgba(236, 239, 239, 0.8);

}
.html-fill-item{
    border-color: #0096c7;
}
.lista{
    background-color: #caf0f8;
    padding: 17px 17px 17px 17px;
    border-radius: 5px;
}
.selectize-control.multi{

    background-color: #caf0f8;
    border-radius: 5px;

}
.selectizedshiny-bound-input{

    border-color: #caf0f8;
    background-color: #caf0f8;
}
/* .option{
    border-color: #caf0f8;
    background-color: #caf0f8;
} 
Zmienia w rozwijanym menu */

.selectize-input.items.not-full.has-options.has-items.item{
    
    background-color: #caf0f8;
    color: #caf0f8;
}


.selectize-input.items.not-full.has-options{
    border-color: #caf0f8;
    background-color: #caf0f8;

}
.orzeczenie{

    background-color:#ade8f4;
    border-style: solid;
    border-color: #ade8f4;
    border-width: 2px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.sygnatura{

    margin-bottom: 3px;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
}

.sedzia{
    margin-bottom: 3px;
    text-align: left;
    font-size: 0.9em;
    margin-left: 3px;
}

.data{
    margin-bottom: 3px;
    text-align: left;
    font-size: 0.9em;
    margin-left: 3px;
}

.sad{
    margin-bottom: 3px;
    text-align: left;
    font-size: 0.9em;
    margin-left: 3px;
}
.orzeczenie_tekst{
    margin-bottom: 7px;
    text-align: justify;
    font-size: 0.7em;
    margin-left: 4px;
    margin-right: 4px;
    

}
.tytul{
    font-size: 2em;
    background-color: (23, 107, 135,0.7);
    text-align: center;
    font-weight: bold;
    padding: 5px;
}


.selectize-control.multi.selectize-input>div.item{
    border-color: #caf0f8;
    background: #caf0f8!important;

}

.selectize-input.items.not-full.has-options.has-items{
    border-color: #caf0f8;
    background-color: #caf0f8;
}

.item{
    border-color: #00b4d8;
    background: #00b4d8 !important;
}

.selectize-dropdown-content .active {
background: #00b4d8 !important;
}

.selectize-dropdown-content {
background: #caf0f8 !important;
}
